<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/projet.css" />
    <title>Document</title>
  </head>

  <body>
    <div id="bann">
      <h1>projet_louche1</h1>
    </div>
    <section>
      <section id="afaire">
        <h2>A faire</h2>
        <div>
          <p>Tâche 1</p>
        </div>
        <div>
          <p>Tâche 2</p>
        </div>
        <div>
          <p>Tâche 3</p>
        </div>
        <input type="submit" value="Ajouter une tâche" />
      </section>

      <section id="encours">
        <h2>En cours</h2>
        <input type="submit" value="Ajouter une tâche" />
      </section>

      <section id="fini">
        <h2>Fini</h2>
        <input type="submit" value="Ajouter une tâche" />
      </section>

      <input type="submit" value="Ajouter une colonne" />
    </section>
  </body>
</html>
